<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>book</key>
		<string>~/Library/Mobile Documents/iCloud~com~apple~iBooks/Documents/Computer Networks.pdf</string>
		<key>folderPath</key>
		<string>~/Dropbox/School/networks</string>
		<key>name</key>
		<string>Networks</string>
		<key>oneNote</key>
		<string>onenote:https://d.docs.live.net/9478a1a4ec3795b7/Documents/School/_Spring%202020/Networks/</string>
		<key>site</key>
		<string>https://tracs.txstate.edu:443/x/75Vx1w</string>
	</dict>
	<dict>
		<key>book</key>
		<string>~/Dropbox/School/data mining/Data Mining - Concepts and Techniques (2012).pdf</string>
		<key>folderPath</key>
		<string>~/Dropbox/School/data mining</string>
		<key>name</key>
		<string>Data Mining</string>
		<key>oneNote</key>
		<string>onenote:https://d.docs.live.net/9478a1a4ec3795b7/Documents/School/_Spring%202020/Data%20Mining/</string>
		<key>site</key>
		<string>https://userweb.cs.txstate.edu/~jg66/teaching/4315/index.html</string>
	</dict>
</array>
</plist>
