<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kevinfunderburg.schoolBookmarks</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>163DC3BE-8359-440F-AD3D-DE96813D5F5E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F40C2339-D352-415C-ABEF-50E2C3DF72D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>32DD19BF-8F92-4132-95AE-0F0E99EBDCF5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD688C10-92EC-412D-8421-CFED1D895378</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>589AEE70-8ABE-4827-8498-E9CCB7D72242</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32DD19BF-8F92-4132-95AE-0F0E99EBDCF5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D1842DE-116F-4320-B971-27DE2B0BEB5B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF986542-5B66-4CE4-BD27-BFF03F58A525</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60D36F27-D1CF-4B67-8634-96753098EA3B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F40C2339-D352-415C-ABEF-50E2C3DF72D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E91495D-F77E-4B53-871D-4A66A52EF95E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60D36F27-D1CF-4B67-8634-96753098EA3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>852F45F2-00C0-4BEC-8AA2-0FBEC84996B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A91B4712-5B25-447E-ABD3-52F7E39D7A22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>872C1C7F-0A5F-4478-A9A1-23A98392C70E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>589AEE70-8ABE-4827-8498-E9CCB7D72242</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A00789F4-0FAB-44C9-BE4B-68CFD03A0E42</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5D1842DE-116F-4320-B971-27DE2B0BEB5B</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DDCFB09C-B8FC-4827-889C-E95C84B4E658</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7E91495D-F77E-4B53-871D-4A66A52EF95E</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C5AC721-2897-4B16-914A-8F83F39444D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47B34CE6-9E99-428C-920E-A081B08289C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>872C1C7F-0A5F-4478-A9A1-23A98392C70E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A00789F4-0FAB-44C9-BE4B-68CFD03A0E42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A91B4712-5B25-447E-ABD3-52F7E39D7A22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A91B4712-5B25-447E-ABD3-52F7E39D7A22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F40C2339-D352-415C-ABEF-50E2C3DF72D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD688C10-92EC-412D-8421-CFED1D895378</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F40C2339-D352-415C-ABEF-50E2C3DF72D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DDCFB09C-B8FC-4827-889C-E95C84B4E658</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>163DC3BE-8359-440F-AD3D-DE96813D5F5E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F732F662-C9A2-418B-A8CB-9A96C7F0B217</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47B34CE6-9E99-428C-920E-A081B08289C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>872C1C7F-0A5F-4478-A9A1-23A98392C70E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF986542-5B66-4CE4-BD27-BFF03F58A525</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F40C2339-D352-415C-ABEF-50E2C3DF72D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kevin Funderburg</string>
	<key>description</key>
	<string>Bookmarks for classes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>School Bookmarks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Microsoft OneNote.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>589AEE70-8ABE-4827-8498-E9CCB7D72242</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>%20</string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>32DD19BF-8F92-4132-95AE-0F0E99EBDCF5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>CD688C10-92EC-412D-8421-CFED1D895378</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run
	set uid to "ADD1A27E-0E16-40A0-8E78-3C9039CA9AEF"	tell application "Keyboard Maestro"		set enabled of first macro group whose id is uid to false	end tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>47B34CE6-9E99-428C-920E-A081B08289C2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F732F662-C9A2-418B-A8CB-9A96C7F0B217</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>use scripting additions

on alfred_script(q)	if q begins with "http" then		tell application "Safari"			tell front window								set URLs to URL of every tab				set URLfound to false				set theURL to q								repeat with u in URLs					if u contains theURL then						set URLfound to true						set thetab to (first tab whose URL is u)						exit repeat					end if				end repeat								if URLfound is false then					open location theURL				else					set current tab to thetab				end if				activate			end tell		end tell
	end if
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>A00789F4-0FAB-44C9-BE4B-68CFD03A0E42</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>A91B4712-5B25-447E-ABD3-52F7E39D7A22</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run
	set uid to "ADD1A27E-0E16-40A0-8E78-3C9039CA9AEF"	tell application "Keyboard Maestro"		set enabled of first macro group whose id is uid to true	end tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F40C2339-D352-415C-ABEF-50E2C3DF72D0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>km</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>9C5AC721-2897-4B16-914A-8F83F39444D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>.school</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>please wait</string>
				<key>script</key>
				<string>python getClassData.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>placeholder</string>
				<key>title</key>
				<string>Open common school stuff</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>872C1C7F-0A5F-4478-A9A1-23A98392C70E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
	delay 1
	-- ignoring application responses
	tell application "Keyboard Maestro Engine"
		do script "25E56F5C-A72D-4A62-975D-049B481FCFE6"
		-- or: do script do script "25E56F5C-A72D-4A62-975D-049B481FCFE6" with parameter "Whatever"
	end tell
	-- end ignoring
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>852F45F2-00C0-4BEC-8AA2-0FBEC84996B0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>5D1842DE-116F-4320-B971-27DE2B0BEB5B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>FF986542-5B66-4CE4-BD27-BFF03F58A525</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)	if q begins with "https" then		tell application "Safari"			tell front window								set URLs to URL of every tab				set URLfound to false				set theURL to q								repeat with u in URLs					if u contains theURL then						set URLfound to true						set thetab to (first tab whose URL is u)						exit repeat					end if				end repeat								if URLfound is false then					open location theURL				else					set current tab to thetab				end if				activate			end tell		end tell	else		if q begins with "~" then			set q to ((POSIX path of (path to home folder) &amp; characters 3 thru -1 of q) as POSIX file) as alias			tell application "Finder" to open q		end if	end ifend alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>DDCFB09C-B8FC-4827-889C-E95C84B4E658</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>163DC3BE-8359-440F-AD3D-DE96813D5F5E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>use scripting additions

on alfred_script(q)
	if q begins with "http" then
		tell application "Safari" 
			open location q
			activate
		end tell

		tell application "System Events"			tell process "Safari"
				set failsafe to 0				repeat until button "Allow" of group 1 of tab group 1 of splitter group 1 of window 1 exists					delay 0.1					if failsafe = 300 then error "script timeout, can't find allow button"				end repeat				click button "Allow" of group 1 of tab group 1 of splitter group 1 of window 1
			end tell
		end tell
			
	else
		set the clipboard to q
		tell application "zoom.us"
			activate
			repeat until frontmost
				delay 0.1
			end repeat
		end tell

		tell application "System Events"
			tell process "zoom.us"
				keystroke "j" using {command down}
				delay 1
				keystroke "v" using {command down}
				delay 0.5
				keystroke return
			end tell
		end tell
	end ifend alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>7E91495D-F77E-4B53-871D-4A66A52EF95E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>60D36F27-D1CF-4B67-8634-96753098EA3B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>163DC3BE-8359-440F-AD3D-DE96813D5F5E</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>32DD19BF-8F92-4132-95AE-0F0E99EBDCF5</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>47B34CE6-9E99-428C-920E-A081B08289C2</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>disable KM macro group</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>589AEE70-8ABE-4827-8498-E9CCB7D72242</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>5D1842DE-116F-4320-B971-27DE2B0BEB5B</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>browse in Alfred</string>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>60D36F27-D1CF-4B67-8634-96753098EA3B</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>7E91495D-F77E-4B53-871D-4A66A52EF95E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>zoom meeting</string>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>852F45F2-00C0-4BEC-8AA2-0FBEC84996B0</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>1Password Autofill</string>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>872C1C7F-0A5F-4478-A9A1-23A98392C70E</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>9C5AC721-2897-4B16-914A-8F83F39444D3</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>A00789F4-0FAB-44C9-BE4B-68CFD03A0E42</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>open website</string>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>A91B4712-5B25-447E-ABD3-52F7E39D7A22</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>CD688C10-92EC-412D-8421-CFED1D895378</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>DDCFB09C-B8FC-4827-889C-E95C84B4E658</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>open book</string>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>F40C2339-D352-415C-ABEF-50E2C3DF72D0</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>enable KM macro group</string>
			<key>xpos</key>
			<integer>980</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>F732F662-C9A2-418B-A8CB-9A96C7F0B217</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>FF986542-5B66-4CE4-BD27-BFF03F58A525</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>github.com/kevin-funderburg</string>
</dict>
</plist>
